@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pavanam&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Paytone One", sans-serif;
  scroll-behavior: smooth;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: auto;
  padding: 0 2.4rem;
}

/* Hero */
.hero {
  background: url(/img/Rectangle.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 35px;
  padding-left: 55px;
}
.hero .nav .navbar {
  display: flex;
}
.hero .nav .navbar .brand {
  width: 143px;
  height: 59px;
}
.hero .nav .navbar .list-items {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 70px;
}
.hero .nav .navbar .list-items li a {
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
}

/* info */
.info-main {
  background: linear-gradient(180deg, #020024 0%, rgba(255, 255, 255, 0) 0%, #2f2a29e0 100%);
  width: 994px;
  height: auto;
  border: 1px solid gray;
  box-shadow: -11px 17px 14px #0a0a0a54;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
}
.info-main .container .info-heading {
  padding-top: 80px;
  padding-left: 25px;
  color: #fff;
}
.info-main .container .info-heading .title {
  width: 434px;
  height: 281px;
}
.info-main .container .info-heading .title h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 400;
}
.info-main .container .info-heading .title h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.info-main .container .info-heading .title p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Pavanam", sans-serif;
}
.info-main .container .info-heading .form-button {
  margin-top: 35px;
}
.info-main .container .info-heading .form-button input {
  width: 291px;
  height: 36px;
  border: 2px solid #8a8684;
  border-radius: 50px;
  outline: none;
  padding: 1rem;
  background: transparent;
}
.info-main .container .info-heading .form-button input::placeholder {
  color: #696461;
}
.info-main .container .info-heading .form-button input[type=text] {
  color: #fff;
}
.info-main .container .info-heading .form-button button {
  margin-left: 20px;
  width: 123px;
  height: 36px;
  border: 2px solid #ff1640;
  border-radius: 50px;
  background: transparent;
  color: #696461;
  outline: none;
}
.info-main .container .info-heading .line {
  width: 992px;
  border: 1px solid gray;
  margin-top: 80px;
  margin-bottom: 32px;
  transform: translateX(-63px);
}
.info-main .container .info-heading .social a {
  padding-left: 32px;
  padding-right: 32px;
  display: inline-block;
}
.info-main .container .info-heading .social a .one {
  width: 83px;
  height: 18px;
}
.info-main .container .info-heading .social a .two {
  width: 92px;
  height: 26px;
  position: relative;
  top: 6px;
}
.info-main .container .info-heading .social a .three {
  width: 71px;
  height: 14px;
}
.info-main .container .info-heading .social a .four {
  width: 79px;
  height: 15px;
}
.info-main .container .info-heading .social a .five {
  width: 87px;
  height: 38px;
  position: relative;
  top: 10px;
}
.info-main .container .info-heading .social a .six {
  width: 57px;
  height: 24px;
}
.info-main .container .info-heading .social a:last-child {
  padding-right: 0;
}
.info-main .container .info-heading .social a:first-child {
  padding-left: 0;
}
.info-main .container .img-info {
  display: flex;
  margin-top: 147px;
}
.info-main .container .img-info .img-one:nth-child(1) {
  position: relative;
  left: 2rem;
}
.info-main .container .img-info .img-one:nth-child(2) {
  position: relative;
  top: -5rem;
  z-index: 999;
}
.info-main .container .img-info .img-one:nth-child(3) {
  position: relative;
  right: 2rem;
}
.info-main .container .marketing-bl {
  display: flex;
  justify-content: center;
}
.info-main .container .marketing-bl h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}
.info-main .container .marketing-bl .line-marketing {
  position: relative;
  top: 8px;
}
.info-main .container .marketing-bl .line-marketing img {
  padding: 0 7px;
}
.info-main .container .marketing-bl .btn-mkt {
  background-color: #74401e;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
}
.info-main .container .notification-bl {
  margin-top: 68px;
}
.info-main .container .notification-bl .row {
  display: flex;
}
.info-main .container .notification-bl .row .left {
  flex-basis: 453px;
}
.info-main .container .notification-bl .row .left .btn {
  display: flex;
  justify-content: space-around;
}
.info-main .container .notification-bl .row .left .btn button {
  width: 131px;
  height: 35px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}
.info-main .container .notification-bl .row .left .btn button i {
  font-size: 20px;
}
.info-main .container .notification-bl .row .left .btn h3 {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.info-main .container .notification-bl .row .left .btn h3 span {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #ff1640;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.info-main .container .notification-bl .row .left .bg-info {
  display: flex;
}
.info-main .container .notification-bl .row .right {
  flex-basis: 315px;
  margin-left: 67px;
}

/* about-us */
.about-us {
  background: url(/img/bg.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
