@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');

$main-font: 'Paytone One', sans-serif;
$font1: 'Roboto', sans-serif;
$font2: 'Pavanam', sans-serif;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $main-font;
  scroll-behavior: smooth;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: auto;
  padding: 0 2.4rem;
}

/* Hero */
.hero {
  background: url(/img/Rectangle.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 35px;
  padding-left: 55px;
  .nav {
    .navbar {
      display: flex;
      .brand {
        width: 143px;
        height: 59px;
      }
      .list-items {
        list-style: none;
        display: flex;
        align-items: center;
        margin-left: 70px;
        li {
          a {
            padding: 15px;
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

/* info */
.info-main {
  background: linear-gradient(
    180deg,
    #020024 0%,
    rgb(255 255 255 / 0%) 0%,
    #2f2a29e0 100%
  );

  width: 994px;
  height: auto;
  border: 1px solid gray;
  box-shadow: -11px 17px 14px #0a0a0a54;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  .container {
    .info-heading {
      padding-top: 80px;
      padding-left: 25px;
      color: #fff;
      .title {
        width: 434px;
        height: 281px;
        h1 {
          font-size: 64px;
          text-transform: uppercase;
          font-weight: 400;
        }
        h3 {
          font-size: 20px;
          font-weight: 400;
          text-transform: uppercase;
          margin-bottom: 30px;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          font-family: $font2;
        }
      }
      .form-button {
        margin-top: 35px;
        input {
          width: 291px;
          height: 36px;
          border: 2px solid #8a8684;
          border-radius: 50px;
          outline: none;
          padding: 1rem;
          background: transparent;
        }
        input::placeholder {
          color: #696461;
        }
        input[type='text'] {
          color: #fff;
        }
        button {
          margin-left: 20px;
          width: 123px;
          height: 36px;
          border: 2px solid #ff1640;
          border-radius: 50px;
          background: transparent;
          color: #696461;
          outline: none;
        }
      }
      .line {
        width: 992px;
        border: 1px solid gray;
        margin-top: 80px;
        margin-bottom: 32px;
        transform: translateX(-63px);
      }
      .social {
        a {
          padding-left: 32px;
          padding-right: 32px;
          display: inline-block;
          .one {
            width: 83px;
            height: 18px;
          }
          .two {
            width: 92px;
            height: 26px;
            position: relative;
            top: 6px;
          }
          .three {
            width: 71px;
            height: 14px;
          }
          .four {
            width: 79px;
            height: 15px;
          }
          .five {
            width: 87px;
            height: 38px;
            position: relative;
            top: 10px;
          }
          .six {
            width: 57px;
            height: 24px;
          }
        }
        a:last-child {
          padding-right: 0;
        }
        a:first-child {
          padding-left: 0;
        }
      }
    }
    .img-info {
      display: flex;
      margin-top: 147px;
      .img-one {
        &:nth-child(1) {
          position: relative;
          left: 2rem;
        }
        &:nth-child(2) {
          position: relative;
          top: -5rem;
          z-index: 999;
        }
        &:nth-child(3) {
          position: relative;
          right: 2rem;
        }
      }
    }
  }
}

/* about-us */
.about-us {
  background: url(/img/bg.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}